.contact{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 3rem 0;
    margin-top: 3rem;
}
.contact > .contact_wrapper{
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact_form p{
    margin-right: 1rem;
}
.contact_form{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding-right: 3rem;
    border-right: 1px solid steelblue ;
}
.contact_form input{
    width: 80vw;
    max-width: 500px;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #000;
    border: 1px solid steelblue;
    min-height: 3rem;
}

.contact_form textarea{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80vw;
    max-width: 500px;
    color: #fff;
    background-color: #000;
    border: 1px solid steelblue;
    min-height: 3rem;
}

.button_wrapper{
    margin-top: 10px;
    display: flex;
}
.button_wrapper > *{
    font-size: 1.2rem;
    font-weight: lighter;
    color: #fff;
    background-color: #000;
    border: 1px solid steelblue;
    margin: 0 1rem;
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;

}
.button_wrapper > div{

    font-weight:bold;

}
.button_wrapper >*:hover{
    transform: translateY(-5px);
}
.social_contact_wrapper{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

@media screen and (max-width: 720px) {
    .contact > .contact_wrapper{
        flex-direction: column;
    }
    .contact_form{
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 1rem;
        padding-bottom: 3rem;
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid steelblue ;
    }

    .social_contact_wrapper{
        margin-left: 0;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
}