.project{
    margin: 0 auto;
    padding-top: 3rem;
    color: #000;
}

.slide-container{
    width: 760px;
    text-align: left;
}

.slide_image{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.project_corousal{
    padding: 2rem;
    border-bottom: 1px solid #000;
    
}

.project_name{
    text-align: center;
    width: fit-content;
    padding: 0.5rem 0; 
    border: 1px solid #000;
    border-radius: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
    overflow: hidden;
}
.project_name a{
    padding: 2rem;
}
.project_name a:hover{
    border-color: #fff;
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
}

.project_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}


@media screen and (max-width: 760px){
    .project{
        padding: 3rem 2rem 0 2rem;
    }
    .slide-container{
        width: 100%;
    }
    .slide_image{
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}